body {
    margin: 0;
}

button,
input,
optgroup,
select,
textarea {
	font-family: inherit;
	font-size: 100%;
	line-height: 1.15;
	margin: 0;
}

input,
textarea {
	box-sizing: border-box;
	outline: none;
}

button,
select {
	text-transform: none;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
    -webkit-appearance: button;
    border-style: none;
}

h1, h2, h3, h4, h5, h6, p {
	margin-top: 0;
}