// Colors
$primary-color: #1698d9;
$primary-hover-color: #2ea8e6;
$selected-color: #d91667;
$selected-hover-color: #e62e7a;
$disabled-color: #b3b3b3;
$card-bg-color: #f2f2f2;
$font-color: #ffffff;

// Fonts
$font-family: 'Trebuchet MS', sans-serif;
$font-size: 1rem;
$line-height: 1.4;

// Grid
$grid-breakpoint-xsm: 320px;
$grid-breakpoint-sm: 576px;
$grid-breakpoint-md: 768px;
$grid-breakpoint-lg: 1024px;
$grid-breakpoint-xl: 1200px;
$grid-breakpoint-xxl: 1920px;

$container-max-width-sm: 540px;
$container-max-width-md: 740px;
$container-max-width-lg: 1000px;
$container-max-width-xl: 1140px;
$container-max-width-xxl: 1400px;
